/6CC509_L1-Introduction.pptx
/6CC509_L2_Lexxing.pptx
/6CC509_L3_types.pptx
/6CC509_L4_Parsing(1).pptx
/Launguage design week 1 notes.md
/LD&I Canvas.canvas
/LDI CW 1 202425.docx
/LDI CW 2 202425.docx
/med_ldi_lab_01.pdf
/Screenshot 2025-02-06 091445.png